table.cartProductTable {
    width: 100%;
    font-size: 12px;
}

tr.cartProductItemTR {
    border: 1px solid #CCCCCC;
}

tr.cartProductItemTR td {
    padding: 20px 20px;
}

table.cartProductTable th {
    font-weight: normal;
    color: #3C3C3C;
    padding: 20px 20px;
}

img.cartProductImg {
    padding: 1px;
    border: 1px solid #EEEEEE;
    width: 80px;
    height: 90px;
}

table.cartProductTable th.selectAndImage {
    width: 140px;
}

table.cartProductTable th.operation {
    width: 30px;
}

div.cartProductLinkOutDiv {
    position: relative;
    height: 80px;
}

a.cartProductLink {
    display: inline-block;
    margin-top: 8px;
    font-size: 16px;
    color: #0f0f0f;
}

a.cartProductLink:hover {
    color: #5FB878;
}

div.cartProductLinkInnerDiv {
    position: absolute;
    bottom: 18px;
    height: 20px;
}

span.cartProductItemOringalPrice {
    text-decoration: line-through;
    color: #9C9C9C;
    display: block;
    font-weight: bold;
    font-size: 14px;
}

span.cartProductItemPromotionPrice {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #FF0036;
}

div.cartProductChangeNumberDiv {
    width: 70px;
}

div.cartProductChangeNumberDiv a {
    border: solid 1px #AAAAAA;
    width: 14px;
    display: inline-block;
    text-align: center;
    color: black;
    text-decoration: none;
}

div.cartProductChangeNumberDiv input {
    margin-left: 10px;
    border: none;
    width: 20px;
    display: inline-block;
}

span.cartProductItemSmallSumPrice {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #FF0036;
}

div.cartDiv {
    max-width: 1013px;
    margin: 180px auto;
    color: black;
}

div.cartTitle button {
    background-color: #AAAAAA;
    border: 1px solid #AAAAAA;
    color: white;
    width: 53px;
    height: 25px;
    border-radius: 2px;
}

span.cartTitlePrice {
    color: #C40000;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 3px;
}

div.cartFoot {
    background-color: #E5E5E5;
    line-height: 50px;
    margin: 20px 0px;
    color: black;
    padding-left: 20px;
}

div.cartFoot button {
    background-color: #AAAAAA;
    border: 0px solid #AAAAAA;
    color: white;
    width: 120px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

img.cartProductItemIfSelected, img.selectAllItem {
    cursor: pointer;
}

span.cartSumNumber {
    color: #C40000;
    font-weight: bold;
    font-size: 16px;
}

span.cartSumPrice {
    color: #C40000;
    font-weight: bold;
    font-size: 20px;
}

img#logoImg {
    margin-left: 380px;
    font-size: 40px;
    color: red;
    width: 450px;
    height: 200px
}