/*
    全局
 */
li, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
    具体分类展示区
 */
div.floor-line-con {
    margin-top: 20px;
    height: 330px;
    float: left;
    overflow: hidden;
}

div.floor-line-con i {
    background-color: #0AA6E8;
    width: 5px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}

.floor-name {
    margin-left: 10px;
    display: inline-block;
    font-size: 18px;
    color: #000000;
    height: 28px;
    vertical-align: middle;
}

.grid {
    margin-left: 13px;
    text-align: center;
}

.productItem {
    display: block;
    float: left;
    width: 233px;
    height: 300px;
}

.productItem:hover {
    border: 1px solid #487a6f;
}

.floor-item-img {
    margin-top: 20px;
    position: relative;
    width: 114px;
    height: 162px;
}

.floor-item-name {
    width: 135px;
    height: 20px;
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    overflow: hidden;
    margin: 8px auto;
}
.floor-item-title{
    width: 135px;
    height: 30px;
    overflow: hidden;
    margin: 0px auto 2px;
}
.floor-price {
    font-size: 18px;
    color: #FF0036;
    line-height: 18px;
    margin: 10px auto;
}

/*
     尾部图标
 */
.tm-end {
    position: relative;
    text-align: center;
    width: 80px;
    height: 45px;
    margin: 0 auto;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 9;
}

/*
      轮播图
 */
.carousel-inner {
    height: 470px;
    width: 1000px;
}
#myCarousel{
    position: relative;
    left: 200px;
    height: 470px;
    width: 1000px;
}
#categoryMain{
    font-size: 20px;
}

/* ——————————————————————————————分类栏———————————————————————————— */
.main-nav {
    height: 36px;
    border-bottom: 1px solid #FF0036;
}

.category-type {
    width: 200px;
    float: left;
    height: 36px;
    background-color: #487a6f;
    color: white;
    font-size: 16px;
}

.category-type .category-type-icon {
    margin-left: 14px;
    line-height: 36px;
}

.category-type .category-type-text {
    margin-left: 2px;
    font-weight: bold;
    font-size: 20px;
    font-family: "FangSong";
}

.main-nav img {
    float: left;
    height: 30px;
    width: 100px;
}

.main-nav span a {
    float: left;
    padding: 0 8px;
    font-weight: 500;
    font-size: 16px;
    color: #333;
    line-height: 36px;
}
.category-tab-content {
    position: relative;
}
.normal-nav {
    padding-top: 10px;
    border: #00a2d4 1px solid;
    border-right: none;
    width: 200px;
    height: 470px;
    position: absolute;
    z-index: 11;
}
.nav-item {
    padding-left: 25px;
    positon: relative;
    line-height: 30px;
    width: 200px;
    color: #487a6f;
    font-size: 16px;
    height: 30px;
    font-weight: bold;
    font-family: "FangSong";
}
.normal-nav .nav-item:hover {
    background-color: #FFFFFF;
    color: #e54077;
    cursor: pointer;
    font-size: 17px;
}

.hot-word-con {
    display: none;
    width: 852px;
    height: 500px;
    background-color: #FFFFFF;
    opacity: 0.9;
    left: 200px;
    position: absolute;
    z-index: 100;
}

.hot-word-line {
    width: 583px;
    margin: 15px 80px 0px 30px;
    float: left;
}

.hot-word-line a {
    margin-left: 13px;
    height: 22px;
    line-height: 28px;
    font-size: 14px;
    float: left;
}

.seprate {
    height: 12px;
    margin-top: 42px;
    border-bottom: 1px dashed rgba(0, 0, 0, .4);
}

.hot-word-con .line-title {
    width: 60px;
    color: #333;
    margin-right: 30px;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    height: 28px;
    float: left;
}

.hot-word-con .line-title .title-text {
    display: inline-block;
    width: 90px;
    overflow: hidden;
    color: #367e6f;
    font-weight: bold;
    font-size: 12px;
    line-height: 28px;
    text-align: right;
    font-family: "Microsoft Yahei";
}

.hot-word-con .line-con {
    width: 493px;
    float: left;
}

.hot-word-con .line-con .hot-word {
    height: 28px;
    font-size: 12px;
    font-family: Arial;
    white-space: nowrap;
    padding-right: 9px;
    color: #666;
    float: left;
    line-height: 28px;
    margin-left: 18px;
}

a {
    outline: 0;
}

a.highlight {
    color: #e54077 !important;
}

.clearfix {
    clear: both;
}
