* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    font: 12px/1.8 simhei, 'Microsoft YaHei', Arial, Verdana, Georgia, 'Comic Sans MS', 'Trebuchet MS', Black, Impact;
    min-width: 1200px;
    font-size: 14px;
    background-image: url("../imgs/bg-58.jpg");
}

input, button,
select, textarea {
    outline: none;
    outline: 0;
}

ul {
    list-style: none;
}

/*登录页面*/
.login-area {
    height: 461px;
    width: 437px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -218px;
    margin-top: -216px;
    z-index: 2;
}

.login-area .login-form ul {
    padding: 17px 27px 60px 44px;
}

.login-area li {
    width: 367px;
    clear: both;
    position: relative;
}

.login-area .loginbtn {
    margin-top: 15px;
    margin-left: -25px;
    width: 400px;
}

.login-area .logo_login {
    width: 100%;
    border-bottom: 1px solid #be1204;
    height: 131px;
    background: #b8a9a973 no-repeat center center;
    border-radius: 10px 10px 0 0;
}

.login-area .loginbtn .btn_login {
    width: 180px;
    height: 46px;
    background: url(../imgs/btn_loginee98.png?63ecaa6564) no-repeat top center;
}

.login-area .loginbtn .btn_register {
    width: 180px;
    height: 46px;
    background: url(../imgs/btn_registera372.png?63ecaa6564) no-repeat top center;
}

.login-area .loginbtn .forgetPwd {
    position: relative;
    top: -195px;
    left: 285px;
    color: #666;
}

.login-area input {
    width: 287px;
    height: 23px;
    margin: 0 30px 25px 30px;
    padding: 9px 0 11px 10px;
    background: none;
    border: none;
    font-size: 14px;
    color: #ab8888;
}

.login-area span {
    width: 287px;
    height: 23px;
    margin: -20px 30px 20px 30px;
    padding: 9px 0 11px 10px;
    background: none;
    border: none;
    font-size: 14px;
    color: #ab8888;
}

.login-area .btn {
    margin-left: 6px;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
}

.login-area .login-form {
    width: 437px;
    position: absolute;
    top: 132px;
}

.Verification_code {
    margin-left: 0;
}

.login-area li p {
    float: left;
    color: #fff;
}

.login-area .chrome_icon {
    width: 56px;
    height: 28px;
    padding-left: 38px;
    background: url(../imgs/login_browser3293.png?77e3524647) no-repeat;
}

.login-area .firefox_icon {
    width: 28px;
    height: 28px;
    padding-left: 38px;
    background: url(../imgs/login_browser3293.png?77e3524647) no-repeat 0 -28px;
}

.login-area li span {
    color: darkred
}

p {
    font-size: 14px;
    color: #666;
}

.login-area li a {
    color: #fff;
}

.login-area li .authentication {
    color: #eaeaec;
}

.login_icon {
    position: absolute;
    top: 510px;
    text-align: center;
    width: 100%;
    z-index: 998;
    overflow: hidden;
}

.login_icon span, .login_icon a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding-right: 10px;
    color: #8a6d3b;
    font-size: 14px;
}

.login_footer {
    height: 100%;
    background: #0c0c0c;
}

span .yanzhengma img {
    width: 120px;
    height: 50px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    top: -5px;
    left: 33px;
}

#LNAME {
    background: url(../imgs/user_ico.png) no-repeat 20px center;
}

#LPW {
    background: url(../imgs/lock_ico.png) no-repeat 20px center;
}

#veryCode {
    background: url(../imgs/code_ico.png) no-repeat 20px center;
    width: 150px;
    position: relative;
    left: -40px
}

ul li .input-style {
    padding-left: 60px;
    height: 50px;
    line-height: 46px;
    color: #333;
    width: 100%;
}

ul li .position {
    margin-left: -20px;
}

#imgObj {
    margin-left: 33px;
}

html {
    height: 100%
}

.body_content {
    position: absolute;
    top: 30%;
    left: 20%;
    height: 20%;
    background: palevioletred;
    width: 20%;
}