div.buyPageDiv {
    margin: 20px auto;
    max-width: 1013px;
}

div.buyPageDiv button {
    display: inline-block;
    margin: 0px 10px;
    width: 180px;
    height: 40px;
}

div.buyDiv button {
    display: inline-block;
    margin: 0px 10px;
    width: 180px;
    height: 40px;
}

table tr td .inputText{
    width: 300px;
    height: 30px;
    font-size: 15px;
}

div.address {
    margin: 20px 5px;
    text-align: left;
}

img.leaveMessageImg{
    position: relative;
    top: -5px;
}

div.addressTip, div.productListTip {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

table.addressTable {
    margin: 20px 20px;
    width: 600px;
}

table.addressTable td {
    display: inline-block;
    color: #333333;
    text-align: right;
    vertical-align: top;
    padding-right: 5px;
    text-align: left;
    height: 30px;
    font-size: 18px;
    margin-bottom: 16px;
}

span.redStar {
    color: red;
    font-size: 23px;
}

table.addressTable td input {
    border: none;
    border-bottom: 1px #8a6d3b solid;
    width: 200px;
}

table.addressTable td textarea {
    border: none;
    border-bottom: 1px #8a6d3b solid;
    margin-bottom: 10px;
    width: 400px;
}

img.tmallbuy {
    width: 15px;
}

a.marketLink {
    color: black;
    font-size: 12px;
    font-weight: normal;
}

a.marketLink:hover {
    color: black;
    font-size: 12px;
    text-decoration: underline;
    font-weight: normal;
}

table.productListTable {
    width: 100%;
    border-collapse: separate;
}

table.productListTable th {
    color: #8a6d3b;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    padding-bottom: 5px;
}

table.productListTable tr.rowborder td {
    background-color: #b2d1ff;
    border-right: 6px solid #fff;
    height: 3px;
}

img#orderItemImg {
    display: inline-block;
    width: 60px;
    height: 70px;
    border: 1px solid #E9E9E9;
}

tr.orderItemTR td {
    padding: 10px 0px;
}

a.orderItemProductLink {
    color: #0f0f0f;
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

a.orderItemProductLink:hover {
    color: #5FB878;
}

td.orderItemProductInfo {
    text-align: left;
}

td.orderItemProductInfo img {
    height: 16px;
}

span.orderItemProductNumber {
    color: #000000;
}

tr.orderItemTR td {
    border-bottom: 1px solid #E5E5E5;
}

tbody.productListTableTbody td {
    text-align: center;
    font-size: 12px;
}

tbody.productListTableTbody td.orderItemFirstTD {
    text-align: left;
}

tbody.productListTableTbody td.orderItemProductInfo {
    text-align: left;
}

td.orderItemFirstTD, td.orderItemLastTD {
    border-bottom: 0px solid black !important;
}

label.orderItemDeliveryLabel {
    color: #666666;
    font-size: 12px;
    font-weight: normal;
}

div.orderItemSumDiv span {
    color: #999999;
}

div.orderItemSumDiv {
    padding: 20px;
    border-top: 2px solid #B4D0FF;
    background-color: #F2F6FF;
    height: 50px;
}

textarea.leaveMessageTextarea {
    border: 1px solid #FFAD35;
    width: 250px;
    height: 60px;
    resize: none;
}

span.leaveMessageText {
    display: inline-block;
    margin-right: 10px;
    float: left;
}

span.leaveMessageTextareaSpan {
    display: inline-block;
}

div.orderItemTotalSumDiv {
    margin: 40px;
    height: 40px;
}

div.orderItemTotalSumDiv span {
    color: #999999;
}

span.orderItemTotalSumSpan {
    color: #C40000 !important;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px dotted #F2F6FF;
}

div.submitOrderDiv {
    height: 40px;
    margin: 20px 0px;
}

button.submitOrderButton {
    border: 1px solid #C40000;
    background-color: #C40000;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    float: right;
}
span.marketLink{
    font-size: 16px;
    color: #1b6d85;
}