body {
    font-size: 12px;
    font-family: Arial;
}

/* 工作区域固定宽度，自动居中 */
.workArea {
    width: 1230px;
    margin: 0 auto;
}

.redColor {
    color: #FF0036;
}

/* 超链设置为灰色 */
a {
    color: #999;
}

a:hover {
    text-decoration: none;
    color: #d62d5a;
}

.boldWord{
    font-weight: bold;
}

/* ——————————————————————————————搜索栏———————————————————————————— */

.header {
    height: 130px;
}

.headerLayout {
    height: 130px;
}

.logo img {
    height: 130px;
    width: 240px;
    position: absolute;
    margin-left: -15px;
}

.mallSearch-input {
    height: 40px;
    width: 625px;
    background-color: #487a6f;
    font-size: 14px;
    margin: 0 auto;
    display: block;
    padding: 1px;
    /* 垂直居中 */
    position: relative;
    top: 35%;
}

.mallSearch-input input {
    position: relative;
    top: -3px;
    height: 36px;
    width: 490px;
    border: none;
    margin: 1px;
    color: black;
    outline: none;
    border: 1px solid transparent;
    padding-left: 8px;
}

.mallSearch-input button {
    width: 125px;
    height: 36px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    right: 0;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid transparent;
    background-color: #487a6f;
    color: white;
}

.hot-query {
    height: 28px;
    font-size: 14px;
    padding: 4px 0 0;
    overflow: hidden;
    margin-left: -13px;
}
/* ——————————————————————————————热搜———————————————————————————— */

.hot-query li {
    display: inline-block;
    padding: 0 12px;
    font-size: 14px;
}

.hot-query .hot-query-li {
    border-left: 1px solid #cccccc;
    line-height: 1.1;
}

li, ul {
    /* 去掉前面的点 */
    list-style: none;
}

/* ——————————————————————————————链接———————————————————————————— */
#links a{
    font-weight: bold;
    font-size: 16px;
    margin-left: 48px;
    font-family: "FangSong";
    color: #3f7d4d;
}

#links a:hover{
    color: #e54077;
    font-size: 17px;
}

/* ——————————————————————————————左边栏———————————————————————————— */
.leftside {
    width:50px;
    height:250px;
    position:fixed;
    left:0;
    top:60%;
    margin-top:-125px;
    z-index:900;
}
.leftside a {
    width:50px;
    height:50px;
    line-height:50px;
    float:left;
    display:block;
    text-align:right;
    cursor: pointer;
}
.leftside .way2 {
    background:yellowgreen;
}